/*格式化样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal}
ol,ul {list-style:none}
caption,th {text-align:left}
/*h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}*/
q:before,q:after {content:''}
abbr,acronym { border:0}
html,body,#app{height: 100%;width: 100%;}

.bm-menu{
  padding-top: 0px!important;
}
.bm-item-list {
  color: #b8b7ad;
  font-size: 20px;
  margin-left: 0px !important;
  height: 100%;
}
.el-input__inner{
  border: 1px solid #9cc3f1;
}
.cellClass:hover {
  cursor: pointer;
  color: #0000cc;
}
.nav-left .el-menu{
  background-color: unset !important;
  border-right: solid 1px #ecbfbf !important;
}
.el-drawer__body{
  height: 100%;
}

